body {
    background-color:   #f0f0f5;
}
.breadcrumbs {
}
main {
    display: flex;
    
}
footer {
    display: flex;
    flex-direction: column;
}
.basic-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px
}
.more-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 40px
}
.footer__git-link {
    color:#b35900
    font-size: medium;
}
.rss-link__svg {
    width: 7%
}
.code__example {
    color:#331a00;
}
.footer__paragraph {
    color:#331a00;
}
.nav-list {
}
.nav-item {
    color:#804000;
    display: inline-block;
}
.basic-info__photo {
    width: 50%;
    border-radius: 20%;
}
.basic-info__name {
    color:#b35900;
}
.basic-info__heading {
    color: #b35900;
}
.basic-info__contacts {
    border-top: 1px solid #b35900;
}
.more-info__about {
}
.more-info__skills {
    border-top: 1px solid #b35900;
}

.more-info__code {
    border-top: 1px solid #b35900;
}
.more-info__education {
    border-top: 1px solid #b35900;
}
.education__heading {
    color: #804000;
}
.education__paragraph {
    color:#331a00;
}
.more-info__experience {
    border-top: 1px solid #b35900;
}
.more-info__languages {
    border-top: 1px solid #b35900;
}

.contacts__heading {
    color: #804000;
}
.contacts__list {
}
.about__heading {
    color: #804000;
}
.about__paragragh {
    color:#331a00;
}
.skills__heading {
    color: #804000;
}
.skills__list {
    color:#331a00;
}
.code__heading {
    color: #804000;
}
.experience__heading {
    color: #804000;
}
.experience__paragraph {
    color:#331a00;
}
.languages__heading {
    color: #804000;
}
.languages__list {
    color:#331a00;
}

.nav-link {
    color:#b35900
}
.contacts__list-item {
    color:#331a00;
    list-style-type:none;
}
.skills__list-item {
    color:#331a00;
}
.languages__list-item {
    color:#331a00;
}
.wrapper {

    display: flex;
    align-items: center;
}
.footer__container {
    display: flex;
    align-items: center;
}
.footer__rss-link {
    display: flex;
    justify-content: center;
}